.button{
    padding: 30px 30px;
    cursor: pointer;
    margin: 5px
}


#white{
    background-color: rgb(252, 239, 239);
    color:black;
    border: 5px solid black 
}

#red{
    background-color: rgb(224, 13, 13);
    color: rgb(244, 238, 238);
    border: 5px solid black 
}

#green{
    background-color: rgb(59, 179, 75);
    color: white;
    border: 5px solid black 
}

#blue{
    background-color: rgb(25, 219, 219);
    color: white;
    border: 5px solid black 
}

h1{
    color: black;
}